.restauPage{
    background-color: #6f3311;
}

.restauTitle{
    position: absolute;
    z-index: 3;
    text-align: center;
    color: white;
    transform: translate(-50%,-50%);
    left : 50%;
    top : 31%;
}

.imageContainer{
    position: absolute;
    z-index: 2;
}

.descriptionPageContainer{
    width: 100%;
    height: 100%;
    background-color: #6f3311;
    position: absolute;
    z-index: 3;
}

.descriptionPage{
    position: absolute;
    z-index: 4;
    margin-top: 5rem;
    margin-left: 7rem;
    margin-right: 7rem;
    text-align: center;
    color: white;
}

.logoBercailRestaurant{
    position: absolute;
    z-index: 5;
    transform: translate(-50%, -50%);
    left: 48%;
    top : 60%;
    width: 200px;
    height: 200px;
}

.secondDescription{
    position: absolute;
    transform: translate(-50%, 40%);
    left: 80%;
    width: 400px;
}
