@import url('https://fonts.cdnfonts.com/css/shorelines-script-bold');

.logoBercail{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 48%;
    top : 52%;
    width: 250px;
    height: 250px;
}


.description{
    margin-top: 5rem;
    margin-left: 7rem;
    margin-right: 7rem;
    text-align: center;
}

    
.homePage{
    width: 100%;
    
    
    }

.menu {
    height: 235px;
     margin : 0 ;
    color: rgb(241, 241, 241) ;
    background-color:#758D8E;
    padding:  50px 0;
    text-align: center;
   }

span {
    font-family: 'Shorelines Script Bold', sans-serif;
    font-size: 38px;                                              
}
 
.restaurentCard{
    
    background-color: #B2B884;
    height: 100%;
    display:  flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;

     
}
address {
    margin-top: 30px;
}
.carteDuRestau{
    font-family: 'Shorelines Script Bold', sans-serif;
    font-size: 20px;
    transform: translate(250px , 135px);
    position: absolute;
    color: rgb(25, 86, 218);
    display: none;
}
   
.cardImage {
   display: none;
    margin: 50px auto;  
    height: 60%;
}
.discoverBtn {
    transform: translate(250px , 200px);
    position: absolute;
    background-color: transparent;
    border: white solid 2px;
    color: white;
    padding: 15px 50px;
    font-weight: 700;
    font-size :large;
    transition: all .2s ease-in;
    display: none;
}

.discoverBtn:hover{
    padding: 15px 55px;
}
.openingTime{
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    color: #6F3311;
}
.reservation{
    padding: 30px 0;
    text-align: center;
    background-color: #D4BF7B;
}
.reservationBtn {
    position :absolute;
    transform: translate(-100px ,-50px);
    padding:  10px 100px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color:  #6F3311;
    color: white;
}

.reservationBtn:hover{
    background-color: #784324;
    cursor: pointer;
} 





