@import url('https://fonts.cdnfonts.com/css/shorelines-script-bold');

.logoBercail{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 48%;
    top : 52%;
    width: 250px;
    height: 250px;
}

.description{
    margin-top: 5rem;
    margin-left: 7rem;
    margin-right: 7rem;
    text-align: center;
}
h4{
    margin : 0 ;
    color: rgb(241, 241, 241) ;
    background-color:#758D8E;
    padding:  50px 0;
    text-align: center;
 
}
span {
    font-family: 'Shorelines Script Bold', sans-serif;
    font-size: 18px;                                              
}
 
.restaurentCard{
    
    background-color: #B2B884;
    height: 600px;
    display:  flex;
    flex-direction:  column;
     
}
address {
    margin-top: 30px;
}
h2 {
    font-family: 'Shorelines Script Bold', sans-serif;
    font-size: 35px;
    transform: translate(250px , 135px);
    position: absolute;
    color: white;
}
   
.cardImage {
    margin: 50px auto;  
    height: 60%;
}
.discoverBtn {
    transform: translate(250px , 200px);
    position: absolute;
    background-color: transparent;
    border: white solid 2px;
    color: white;
    padding: 15px 50px;
    font-weight: 700;
    font-size :large;
    transition: all .2s ease-in;
}

.discoverBtn:hover{
    padding: 15px 55px;
}
.openingTime{
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    color: #6F3311;
}
.reservation{
    padding: 30px 0;
    text-align: center;
    background-color: #D4BF7B;
}
.reservationBtn {
    position :absolute;
    transform: translate(-100px ,-50px);
    padding:  10px 100px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color:  #6F3311;
    color: white;
}

.reservationBtn:hover{
    background-color: #784324;
    cursor: pointer;
} 

.AuBercail {
    background-color: #B2B884;
    height: 400px;
}

@media (max-width : 875px) {



.cardImage {
    margin: 50px auto;  
    width: 100%;
}

.logoBercail{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 48%;
    top : 52%;
    width: 250px;
    height: 250px;
}
.menu    {

width: 100vh;
}
.description{
    margin-top: 5rem;
    margin-left: 7rem;
    margin-right: 7rem;
    text-align: center;
}
h4{
    margin : 0 ;
    color: rgb(241, 241, 241) ;
    background-color:#758D8E;
    padding:  50px 0;
    text-align: center;
 
}
span {
    font-family: 'Shorelines Script Bold', sans-serif;
    font-size: 18px;                                              
}
 
.restaurentCard{
    
    width: 100vh;
    background-color: #B2B884;
    height: 600px;
    display:  flex;
    flex-direction:  column;
     
}
address {
    margin-top: 30px;
}
h2 {
    font-family: 'Shorelines Script Bold', sans-serif;
    font-size: 35px;
    transform: translate(250px , 135px);
    position: absolute;
    color: white;
}
   
.cardImage {
    margin: 50px auto;  
    height: 60%;
}
.discoverBtn {
    transform: translate(250px , 200px);
    position: absolute;
    background-color: transparent;
    border: white solid 2px;
    color: white;
    padding: 15px 50px;
    font-weight: 700;
    font-size :large;
    transition: all .2s ease-in;
}

.discoverBtn:hover{
    padding: 15px 55px;
}
.openingTime{
    width: 100vh;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    color: #6F3311;
}
.reservation{
    padding: 30px 0;
    text-align: center;
    background-color: #D4BF7B;
    width: 100vh;
}
.reservationBtn {
    position :absolute;
    transform: translate(-100px ,-50px);
    padding:  10px 100px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color:  #6F3311;
    color: white;
}



.AuBercail {
    background-color: #B2B884;
    height:200px;
    width: 100vh;
}

}