.contactPage{

    height: 100%;
    width: 100%;
  
}

.formContact {
    
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
strong{
    font-weight: 100;
    font-size: 16px;
     position: relative;
     right: 50px;
   margin-bottom: 25px;

}
.opening{
    position: absolute;
    transform: translate(-50% ,-180%);
    left : 38%;
    width: 100%;
   display: flex;
   justify-content: center;
   color: aliceblue;
   
}
.opening p {
    padding-left: 200px;
    margin-bottom: 20px;
}