.contactPage{

    height: 100%;
    width: 100%;
  
}

.formContact {
  width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
 
}

.opening{
   
    position: absolute;
    transform: translate(-50% ,-180%);
    left : 38%;
    width: 100%;
   display: flex;
   justify-content: center;
   color: aliceblue;
   
}
.opening p {
    padding-left: 200px;
    margin-bottom: 20px;
}