.AuBercail {
display: flex;
flex-direction: column;
justify-content: space-around;
text-align: center;
background-color: #B2B884;
font-weight: 200;
height: 350px;
}
.BercailPics{
   
    display: flex;
   justify-content: space-around;
    
}
