.reservationPage {



    position: absolute;
}

.reservationSection {

    height: 500px;
    display: flex;
    flex-flow: column;
    justify-items: center;
    justify-content: center;
    text-align: center;


}

.title {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    width: 100%;
    font-size: 60px;
    font-weight: 500;
    text-align: center;


}

.reservationForm {
    display: flex;
    flex-flow: column;
    padding: 40px 40%;
    row-gap: 10px;
    width: 100%;

}

input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    background-color: #DFE3C0;
    border: none;
}

.reservationBtn2 {
    padding: 15px;
    outline: none;
    border-radius: 5px;
    background-color: #B2B884;
    border: none;
    color: white;
    font-weight: 600;
}

.reservationBtn2:hover {
    opacity: 0.8;
    cursor: pointer;
}


@media (min-width: 360px) and (max-width: 600px) {
    .title {
        color: white;
        position: absolute;
        font-size: 60px;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 20%;
    }
}